<div class="container">

  <h1>garage management</h1>

  <!--garages from gov-->
  <mat-form-field appearance="outline" class="multi-select">
    <mat-label>choose garages</mat-label>
    <mat-select
      multiple
      [(ngModel)]="selectedGovGarages">
      <mat-option *ngFor="let g of govGarages" [value]="g">
        {{ g.misparMosah }} - {{ g.shemMosah }} ({{ g.yishuv }})
      </mat-option>
    </mat-select>
  </mat-form-field>

  <!--adding-->
  <button mat-raised-button color="primary" (click)="onAddClick()">
    adding
  </button>

  <hr>

  <!--table of garages from gov-->
  <h2>garages from gov</h2>

  <div *ngIf="isLoadingGov">loading data...</div>

  <table mat-table [dataSource]="govGarages" class="mat-elevation-z8" *ngIf="!isLoadingGov">

    <!-- garage number-->
    <ng-container matColumnDef="misparMosah">
      <th mat-header-cell *matHeaderCellDef>garage number</th>
      <td mat-cell *matCellDef="let g">{{ g.misparMosah }}</td>
    </ng-container>

    <!-- garage name-->
    <ng-container matColumnDef="shemMosah">
      <th mat-header-cell *matHeaderCellDef>garage name</th>
      <td mat-cell *matCellDef="let g">{{ g.shemMosah }}</td>
    </ng-container>

    <!-- city-->
    <ng-container matColumnDef="yishuv">
      <th mat-header-cell *matHeaderCellDef>city</th>
      <td mat-cell *matCellDef="let g">{{ g.yishuv }}</td>
    </ng-container>

    <!-- garage type-->
    <ng-container matColumnDef="sugMosah">
      <th mat-header-cell *matHeaderCellDef>garage type</th>
      <td mat-cell *matCellDef="let g">{{ g.sugMosah }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="govDisplayedColumns" ></tr>
    <tr mat-row *matRowDef="let row; columns: govDisplayedColumns;" class="fade-row"></tr>

  </table>

  <hr>

  <!--garages in DB-->
  <h2>garages that in DB</h2>

  <div *ngIf="isLoadingDb">loading from DB...</div>
  <div *ngIf="!isLoadingDb && dbGarages.length === 0">
    no garages in the database.
  </div>

  <table mat-table [dataSource]="dbGarages" class="mat-elevation-z8" *ngIf="!isLoadingDb && dbGarages.length > 0">

    <!--garage number-->
    <ng-container matColumnDef="misparMosah">
      <th mat-header-cell *matHeaderCellDef>garage number</th>
      <td mat-cell *matCellDef="let g">{{ g.misparMosah }}</td>
    </ng-container>

    <!-- garage name-->
    <ng-container matColumnDef="shemMosah">
      <th mat-header-cell *matHeaderCellDef>garage name</th>
      <td mat-cell *matCellDef="let g">{{ g.shemMosah }}</td>
    </ng-container>

    <!-- city-->
    <ng-container matColumnDef="yishuv">
      <th mat-header-cell *matHeaderCellDef>city</th>
      <td mat-cell *matCellDef="let g">{{ g.yishuv }}</td>
    </ng-container>

    <!-- garage type-->
    <ng-container matColumnDef="sugMosah">
      <th mat-header-cell *matHeaderCellDef>garage type</th>
      <td mat-cell *matCellDef="let g">{{ g.sugMosah }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="dbDisplayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: dbDisplayedColumns;" class="fade-row"></tr>

  </table>

</div>